<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Tack <%= showUserInfo.firstName %> för din beställning!</h1>
    </div>
    <div class="userinfo">


    </div>
    <form class="startbuttons" method="get">
        <button type="submit" formaction="/">STARTSIDA</button>
        <button type="submit" formaction="logout">LOGGA UT</button>
    </form>
</main>
<%- include ("footer.ejs") %>