<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Order skapad!</h1>
    </div>

    <div class="checkout-payment-container">
        <form action="" method="POST">
            <div class="checkout-button">
                <button type="submit" id="btn">TILL BETALNINGSSIDA</button>
            </div>
        </form>
    </div>
</main>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('sk_test_uBWZbcqFpcuqgpoSDovwUbVo00mKGF3yqB');
    document.querySelector('#btn').addEventListener('click', () => {
        stripe.redirectToCheckout({
            sessionId: '<%=sessionId%>'
        })
    })
</script>
<%- include ("footer.ejs") %>